/* 變數,--自設名稱快捷色 */
:root{
    --mycolor01: #e21313;
    --mycolor02: #f1b32d;
    --mycolor03: #e9e517;
    --mycolor04: #05b423;
    --mycolor05: #3853ee;
    --mycolor06: #900ec4;
    --mycolor07: #dd44b7;
    --mycolor08: #59cff3;

    --mycolor06: #0ec4c4;
    --mycolor06: #c4b80e;
    --mycolor06: #3b4552;


}
    